@import "tailwindcss";

@theme {
  --font-eater: "Eater", cursive;
  --font-glitch: "RubikGlitch", cursive;
  --font-fell: "IMFellEnglish", serif;
  --color-green-dark: #3c4830;
  --color-green-light: #708454;
  --color-red-dark: #7e0b16;
  --color-red-light: #a66e6e;
  --color-brown-dark: #1e1818;
  --color-grey: rgba(218, 217, 217, 0.893);
}

@font-face {
  font-family: "Charu Chandan BloodDrip";
  src: url("/fonts/Charu_Chandan_BloodDrip_Unicode-Regular.ttf")
    format("truetype");
}

/* :root {
  --green-dark: #3c4830;
  --green-light: #708454;
  --red-dark: #7e0b16;
  --red-light: #a66e6e;
  --brown-dark: #1e1818;
  --grey: rgba(218, 217, 217, 0.893);
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
